* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/* selection the nav tags through the class name that i setup in the html  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background-color: green;
    padding: 10px;
}

.navbar_heading {
    font-family: monospace;
    font-size: 40px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
}

ul li {
    padding: 10px;
    font-size: 20px;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    color: white;
}

.search_bar {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 30px;
}
